# Projet Analyse de donnée
# Nom et prénom
# Groupe GLF2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('data/tayara_cars.csv')
df.head

<bound method NDFrame.head of        Unnamed: 0                 location        km annee      marque  \
0               0       Ben arous, Ezzahra       1.0  2021  Volkswagen
1               1             Tunis, Tunis  180000.0  2008        Opel
2               2       Ben arous, Ezzahra       1.0  2021  Volkswagen
3               3             Tunis, Tunis  180000.0  2008        Opel
4               4  Monastir, Autres villes  200000.0  1999     Renault
...           ...                      ...       ...   ...         ...
10725       10725         Ben arous, Radès   86000.0  2013     Peugeot
10726       10726           Gafsa, Redeyef  232000.0  2009     Renault
10727       10727        Sfax, Sfax Médina  101000.0  2015         Kia
10728       10728     Tataouine, Tataouine  273000.0  2008  Volkswagen
10729       10729     Ariana, Ariana Ville  148000.0  2016  Volkswagen

        model            date     price carburant puissance  boite  cylindre
0        Polo    14 mars 2021   12500.0    Diesel         4  Jaune  Compacte
1       Astra    14 mars 2021   21500.0    Diesel         1   Noir   Berline
2        Polo    14 mars 2021   12500.0    Diesel         4  Jaune  Compacte
3       Astra    14 mars 2021   21500.0    Diesel         1   Noir   Berline
4          12    14 mars 2021  111111.0   Essence         4  Blanc    Autres
...       ...             ...       ...       ...       ...    ...       ...
10725     208  6 février 2021   28800.0   Essence         5   Bleu  Compacte
10726  Megane  6 février 2021   23500.0   Essence         6   Noir   Berline
10727     Rio  6 février 2021   37500.0   Essence         5   Noir   Berline
10728  Passat  6 février 2021   29000.0   Essence         7   Noir    Autres
10729  Passat  6 février 2021      65.0   Essence         7   Noir   Berline

[10730 rows x 12 columns]>

In [ ]:
pd.DataFrame